<?xml version='1.0' encoding='utf-8'?>
<widget id="com.quizforge.app" version="1.0.0">
    <name>QuizForge</name>
    <description>Turn a photo of your notes into an AI-generated interactive exam</description>
    <author email="aldwin@example.com" href="https://quizforge.example.com">
        Aldwin
    </author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Camera permissions -->
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    
    <!-- File access -->
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    
    <!-- Network access -->
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    </feature>
    
    <!-- Splash screen -->
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>
    
    <!-- Status bar -->
    <feature name="StatusBar">
        <param name="android-package" value="org.apache.cordova.statusbar.StatusBar" />
    </feature>
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Android-specific settings -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="Fullscreen" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <!-- For Android 10+ -->
    <preference name="android-inherit-all-permissions" value="false" />
</widget>